div.chart {
    margin: 0;
    overflow: hidden;
}

div.chartLines {
    margin: 0;
    position: absolute;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
}

div.chartLine {
    margin: 0;
    left: 0px;
    width: 100%;
    background-color: azure;
    overflow: hidden;
    position: absolute;
    float: left;
}

div.chartBar-normal {
    margin: 0;
    top: 0px;
    height: 100%;
    background-color: deepskyblue;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    float: none;
    position: absolute;
    box-sizing: border-box;
}

div.chartBar-alert {
    margin: 0;
    top: 0px;
    height: 100%;
    background-color: coral;
    border-style: solid;
    border-color: orangered;
    border-width: 1px;
    float: none;
    position: absolute;
    box-sizing: border-box;
}

div.chartBar-tentative {
    margin: 0;
    top: 0px;
    height: 100%;
    background-color: deepskyblue;
    background-image: repeating-linear-gradient(
      -25deg,
      transparent,
      transparent 10px,
      #91e3ff 10px,
      #91e3ff 20px
    );
    border-style: dashed;
    border-color: darkgreen;
    border-width: 1px;
    float: none;
    position: absolute;
    box-sizing: border-box;
}

div.barHandle {
    margin: 0;
    width: 5px;
    top: 0px;
    height: 100%;
    box-sizing: border-box;
    cursor: ew-resize;
    background-image: repeating-linear-gradient(
        0deg,
        #5f95a7 0px,
        #d2e4ea 2px,
        transparent 40px,
        transparent 80px
      )
}

div.chartOriginPoint {
    margin: 0;
    box-sizing: border-box;
    float: left;
    text-align: right;
    padding-right: 2px;
    border-right: 1px solid black;
    height: 100%;
}

div.chartAxisX {
    margin: 0;
    position: absolute;
    float: left;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
    background-color: aliceblue;
    font-size: 10px;
}

div.chartAxisY {
    margin: 0;
    position: absolute;
    float: left;
    padding-right: 2px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    background-color: aliceblue;
    font-size: 10px;
    width: 100%;
}

div.chartPartTop {
    margin: 0;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 5px;
}

div.chartPartMain {
    margin: 0;
    position: relative;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

div.chartPartLeftSideBar {
    margin: 0;
    position: relative;
    box-sizing: border-box;
    float: left;
}

div.chartLabelX {
    margin: 0;
    position: absolute;
    box-sizing: border-box;
    float: left;
    text-align: right;
    padding-right: 2px;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

div.chartLabelY {
    margin: 0;
    position: absolute;
    box-sizing: border-box;
    float: left;
    text-align: right;
    padding-right: 2px;
    width: 100%;
    border-top: 1px solid black;
}

div.sliderIndicator {
    position: absolute;
    width: 40px;
    background-color: blueviolet;
    color: floralwhite;
    border: 2px solid white;
    border-radius: 10% / 50%;
    text-align: center;
}
